# Задание

In [2]:
import pandas as pd

## Task 1

Узнай самый часто встречаемый возраст респондентов

In [4]:
# Код тут
import pandas as pd
pd.set_option('display.max_rows', 10)
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv', low_memory=False) # Указываем путь к файлу
age = data.describe().iloc [2]['Q2'] #берем самый частовстречаемый возраст из описания таблицы
print('Cамый часто встречаемый возраст респондентов -', age)

Cамый часто встречаемый возраст респондентов - 18-21

## Task 2

Посчитай долю женщин среди русских участников опроса, которые уже не студенты. Результат округли до двух цифр после запятой

In [6]:
# Код тут
import pandas as pd
pd.set_option('display.max_rows', 30)
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv', low_memory=False) # Указываем путь к файлу

# Q4 - страна, Q5 - проверка на студента, Q3 - пол
data2 = data[
    (data['Q4'].str.contains('Russia')) & 
    (data['Q5'] == 'No')]
data3 = data2['Q3'].value_counts()
x = round(data3.loc['Woman'] / data3.sum(), 2) # количество женщин к общему количеству участников
print ('Доля женщин среди русских участников опроса, которые уже не студенты =', x)

Доля женщин среди русских участников опроса, которые уже не студенты = 0.24

## Task 3

Найди среднее время заполнения опроса в **минутах**. Результат округли до двух знаков после запятой

In [7]:
# Код тут
import pandas as pd
pd.set_option('display.max_rows', 30)
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv', low_memory=False) # Указываем путь к файлу
data2 = data['Duration (in seconds)'].drop(0) # удаляем вопрос
data2 = data2.astype(int) # меняем тип на целочисленный
average = round(data2.mean() / 60, 2) #считаем среднее и переводим в минуты
print ('Cреднее время заполнения опроса в минутах =', average)

Cреднее время заполнения опроса в минутах = 168.17

## Task 4

Выведи топ-3 образовательных курса, которые указали респонденты. P.S Это вопрос Q6

In [31]:
# Код тут
import pandas as pd
pd.set_option('display.max_rows', 30)
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv', low_memory=False) # Указываем путь к файлу
q6_columns = [col for col in data.columns if col.startswith('Q6')] # таблица их всех Q6
platforms = data[q6_columns].melt(var_name='вопрос', value_vars=q6_columns) # объединение Q6 в одну колонку
res = platforms['value'].value_counts().iloc[:3]  # сортировка значений по убыванию
print('Топ-3 образовательных курса, которые указали респонденты - это', list(res.index))

Топ-3 образовательных курса, которые указали респонденты - это ['Coursera', 'University Courses (resulting in a university degree)', 'Kaggle Learn Courses']

## Task 5

Узнай топ-5 языков программирования, которые регулярно используют Data Scientists в своей работе

In [1]:
# Код тут
import pandas as pd
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv', low_memory=False) # Указываем путь к файлу
data.drop(0, inplace=True) # Удаляем вопрос
data2 = data[data['Q23'] == 'Data Scientist'] # новый масив только из дата сайнтистов
q12_columns = [col for col in data2.columns if col.startswith('Q12')] # таблица их всех Q12 
lang = data2[q12_columns].melt(var_name='вопрос', value_vars=q12_columns) # объединение Q12 в одну колонку
pop_lang = lang['value'].value_counts().iloc[:5] # сортировка значений по убыванию
print('Топ-5 языков программирования, которые регулярно используют "Data Scientists" - это', list(pop_lang.index))

Топ-5 языков программирования, которые регулярно используют "Data Scientists" - это ['Python', 'SQL', 'R', 'Bash', 'Javascript']

## Task 6

Узнай средний доход среди 'Data Scientist' специалистов и средний доход среди 'Machine Learning/ MLops Engineer' \
Т.к. в колонке Q29 указан промежуток, то возьми среднее значение из промежутка. 

Например: 
- '15,000-19,999' - 17500, 
- '125,000-149,999' - 137500. 
- \> $1,000,000 - оставляем 1000000

Средние доход **округли до целого.**

In [2]:
# Код тут
import pandas as pd
#pd.set_option('display.max_rows', 30)
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv', low_memory=False) # Указываем путь к файлу
data1 = data.drop(0) # Удаляем вопрос

# Удаляем лишние символы из столбцов зп
data1['Q29'] = data1['Q29'].str.replace('>','1000000-')
data1['Q29'] = data1['Q29'].str.replace('$','')
data1['Q29'] = data1['Q29'].str.replace(',','')

# Разделяем столбец на два через разделитель -
data1['Q29_1']=data1['Q29'].str.split('-').str.get(0)
data1['Q29_2']=data1['Q29'].str.split('-').str.get(1)

# Переводим столбцы в числовой формат
data1['Q29_1'] = data1['Q29_1'].astype (str).astype (float)
data1['Q29_2'] = data1['Q29_2'].astype (str).astype (float)

# Считаем среднее
data1['Q29m'] = (data1['Q29_1'] + data1['Q29_2'])/2

# Вычленяем таблички с интересующими профессиями
data_ds = data1[data1['Q23'] == 'Data Scientist']
data_ml = data1[data1['Q23'] == 'Machine Learning/ MLops Engineer']

# Считаем среднюю зп, округляем до целого и меняем тип на целый
ds = int(round(data_ds['Q29m'].mean(), 0))
ml = int(round(data_ml['Q29m'].mean(), 0))

print('Средний доход среди Data Scientist специалистов = ', ds) 
print('Cредний доход среди Machine Learning/ MLops Engineer = ', ml)

Средний доход среди Data Scientist специалистов =  70337
Cредний доход среди Machine Learning/ MLops Engineer =  67437

## Дополнительно

Найди какой-нибудь интересный инсайт из этих данных. Пиши свои интересные инсайты в чат проекта с хэштегом.
#инсайт

Автор самого интересного инсайта получит p2p баллы. Поверь, они тебе понадобятся

In [10]:
# Код тут